button {
  &.btn {
    padding: .5rem 4rem;

    &:focus {
      box-shadow: none !important;
    }
  }

  &.primary {
    border-radius: $radius;
    background-color: $green;
    font-weight: $bold;
    color: $white;
    margin: 1rem 0;

    &:hover {
      color: $white;
      background-color: $light-green;
    }
  }

  &.outline {
    border-radius: $radius;
    background-color: $white;
    font-weight: $bold;
    color: $green;
    border: 1px solid $green;
  }

  // &.link {
  //   color: $light-blue;
  // }

  &.btn-link {
    padding: 1rem !important;

    &.btn-delete {
      color: $red;
    }
  }

  &.secondary {
    border-radius: $radius;
    background-color: $light-blue;
    font-weight: $bold;
    color: $white;
    margin: 1rem 0;

    &:hover {
      color: $white;
      background-color: $extra-light-blue;
    }
  }

  &.default {
    border-radius: $radius;
    background-color: $white;
    font-weight: $bold;
    color: $light-blue;
    border-color: $light-blue;
    margin: 1rem 0;

    &:hover {
      color: $light-blue;
    }
  }
}