// Main colors
$black: #000000;
$green: #05CE7A;
$grey:#525252;
$light-blue: #2BC6DB;
$extra-light-blue: #2BC6DBC9;
$light-green: #06EF8E;
$light-grey: #ced4da;
$white: #FFFFFF;
$red: #FF0000;

// Fonts
$MainFont: Lato, Sans-serif;
$bold: 700;

// Layout
$radius: 5px;