@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/functions";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1264px,
  xxl: 1920px
) !default;

$container-max-widths: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1264px,
  xxl: 1920px
) !default;