@mixin flex ($direction: column, $align: center, $justify: center, $wrap: nowrap ){
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
}